/* General Styles */
nav {
  background-color:blanchedalmond;
  padding: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #666;
}

#btn-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  padding: 10px;
  background-color: #333;
  color: #fff;
}


section {
  margin-bottom: 20px;
}

.inicio {
  width: 800px; /* Ancho de la caja */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px; /* Espacio interno */
  background-color: #f1f1f1; /* Color de fondo */
  border: 1px solid #ccc; /* Borde */
  color:black;
}

h2 {
  color: #333;
}

p {
  color: #666;
}

footer {
  text-align: center;
}

#home{
 text-align: center;
 background-color: bisque;
 background-size: cover;
}

body{
  background-color: bisque;
}

.container {
  text-align: center;
}

.card-columns {
  margin: 0 auto;
  background-color:blanchedalmond;
}

#guardianship{
  text-align: center;
}

.outer-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-section {
  cursor: pointer;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  width: 200px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pdf-section h2 {
  margin: 10;
  font-size: 16px;
  color: #333;
}








